@model IEnumerable<Bakery.Data.Entities.Product>

	<table class="table">
		<thead>
			<tr>
				<th>Продукт</th>
				<th>Цена</th>
				<th>Тип</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach(var item in Model)
			{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Price)
				</td>
				<td>
					@item.Category?.Name
				</td>
				<td>
					@if(User.IsInRole("Admin"))
					{
						<a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
						<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
					}
					<a asp-action="Details" asp-route-id="@item.Id">Details</a>|
					<a asp-controller="Orders" asp-action="Create" asp-route-productId="@item.Id">Поръчай</a>
				</td>
			</tr>
		}
		</tbody>
	</table>